    <%- include('../../partials/dashboard-head',{language}); %>

    <link href="/style/dashboard/settings.css" rel="stylesheet" />
    <link href="/style/confirm-modal.css" rel="stylesheet" />

    <script src="/scripts/dashboard/shared-script.js" defer></script>
    <script src="/scripts/dashboard/settings.js" defer></script>
    <title>Dashboard - <%= tagline %></title>
  </head>
    <body>
        <div class="container">
            <%- include('../../partials/dashboard-navbar',{section:"settings",language,role:user.role}); %>
            <main>
                <%- include('../../partials/dashboard-header',{name:user.name,role:user.role}); %>
                <div class="user-section">
          <h1 class="section-header user-section__header">
            <span class="icon-view"
              ><ion-icon name="settings-outline"></ion-icon></span
            >User Information
          </h1>
          <form id="settingsForm" data-id="<%= user.id %>">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" value="<%= user.name %>"/>
              <div class="error-message" id="nameError"></div>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" value="<%= user.email %>" />
              <div class="error-message" id="emailError"></div>
            </div>
            <div class="form-group">
              <label for="phone">phone:</label>
              <input type="tel" id="phone" name="phone" value="<%= user.phone %>" />
              <div class="error-message" id="phoneError"></div>
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
        <%- include('../../partials/confirm-modal'); %>
      </main>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
  </body>
</html>
